@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@using System.Globalization
@model QLKHO.Areas.PhieuXuats.Controllers.PhieuXuatController.InputModel
@{
    ViewData["title"] = "Tạo Phiếu Xuất";
}
<partial name="_AlertMessage" model="@TempData["thongbao"]"></partial>
<a class="btn btn-primary my-2" asp-action="Index">Quay lại danh sách</a>
<div style="max-height: 600px" class="overflow-auto">
    <table style="min-width: 600px;" class="table table-bordered">
        <thead>
            <tr>
                <th>Mã sản phẩm</th>
                <th>Tên sản phẩm</th>
                <th>Đơn giá</th>
                <th>Số Lượng còn</th>
                <th>Hình ảnh</th>
                <th>Chọn</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.sanPhams)
            {
                <tr>
                    <td class="first">@item.MaSp</td>
                    <td>@item.TenSp</td>
                    <td data-price="@item.GiaBan">
                        @item.GiaBan.ToString("C", new CultureInfo("vi-VN"))
                    </td>
                    <td>@item.SoLuongCo</td>
                    <td>
                        <img class="img-thumbnail" style="width:100px; height:80px; object-fit:cover" src="~/Upload/PhotoSanPham/@item.Photo">
                    </td>
                    <td>
                        <button class="btn btn-primary btthem">Chọn</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<form method="post" asp-action="Create">
    <h1 class="text-center">Phiếu Xuất</h1>
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="row">
        <div class="form-group col-sm-4">
            <label asp-for="@Model.NgayLap" class="control-label"></label>
            <input asp-for="@Model.NgayLap" class="form-control" />
            <span asp-validation-for="@Model.NgayLap" class="text-danger"></span>
        </div>
        <div class="col-sm-4"></div>
        <div class="col-sm-4">
            <div class="form-group">
                <label asp-for="@Model.MaKh" class="control-label"></label>
                <select class="form-control" asp-for="@Model.MaKh" asp-items="@Model.khachHang"></select>
                <span asp-validation-for="@Model.NgayLap" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="overflow-auto">
        <table style="min-width: 600px" class="table table-bordered">
            <thead>
                <tr>
                    <th>Mã sản phẩm</th>
                    <th>Tên sản phẩm</th>
                    <th>Đơn giá</th>
                    <th>Số lượng</th>
                    <th>Thành tiền</th>
                    <th>Chọn</th>
                </tr>
            </thead>
            <tbody id="dschon">
            </tbody>
        </table>
    </div>
    <p>
        Tổng Tiền :
        <span id="tongtien"></span>
    </p>
    <button type="submit" class="btn btn-primary">Tạo Phiếu</button>
</form>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script src="~/js/phieuxuat.js"></script>
}