@model IEnumerable<QLKHO.Models.KhachHang>
@using QLKHO.Helper
@{
    ViewData["Title"] = "Index";
    var i = 1;
    var currentPage = ViewData["current"];
    var countPage = ViewData["countpage"];
}
<partial name="_AlertMessage" model="@TempData["thongbao"]"></partial>
<h1>Danh sách Khách Hàng</h1>

<div class="d-flex justify-content-between">
    <a class="btn btn-primary my-2" asp-action="Create">Tạo mới</a>
    <div class="">
        <form method="get" asp-action="Index" class=" form-inline mr-auto my-2 mw-100 navbar-search">
            <div class="input-group">
                <input name="search" value="@ViewBag.search" class="form-control bg-light border-0 small" placeholder="Tìm theo tên khách hàng"
                       aria-label="Search" aria-describedby="basic-addon2">
                <div class="input-group-append">
                    <button class="btn btn-primary" type="submit">
                        <i class="fas fa-search fa-sm"></i>
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="overflow-auto">
    <table style="min-width: 600px" class="table table-bordered">
        <thead>
            <tr>
                <th>STT</th>
                <th>
                    @Html.DisplayNameFor(model => model.MaKh)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TenKh)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Email)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Phone)
                </th>
                <th>
                    Hành động
                </th>
            </tr>
        </thead>
        <tbody>
    @foreach (var item in Model) {
            <tr>
                <td>
                    @i
                    @{i++;}
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MaKh)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TenKh)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Phone)
                </td>
                <td class="d-flex justify-content-around">
                    <a class="btn btn-outline-success" asp-action="Edit" asp-route-id="@item.MaKh">Sửa</a> |
                        @{
                            var id = "KH" + item.MaKh;
                            var select = "#" + id;
                        }
                        <button type="button" class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="@select">
                            Xóa
                        </button>

                        <!-- The Modal -->
                        <div class="modal" id="@id">
                            <div class="modal-dialog modal-dialog-centered">
                                <div class="modal-content">

                                    <!-- Modal Header -->
                                    <div class="modal-header">
                                        <h4 class="modal-title">Xóa Khách Hàng</h4>
                                        <button type="button" class="btn btn-close" data-bs-dismiss="modal">&times</button>
                                    </div>
                                    <form asp-action="Delete" method="post" asp-route-id="@item.MaKh">
                                        <!-- Modal body -->
                                        <div class="modal-body">
                                            <h5 class="text-center">Bạn có muốn xóa khách hàng có tên @item.TenKh không ?</h5>
                                        </div>

                                        <!-- Modal footer -->
                                        <div class="modal-footer">
                                            <button type="submit" class="btn btn-primary">Xóa</button>
                                            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                                        </div>
                                    </form>
                                    
                                </div>
                            </div>
                        </div>
                </td>
            </tr>
    }
        </tbody>
    </table>
</div>
@{
    var pagemodel = new PagingModel()
    {
        currentPage = int.Parse(currentPage.ToString()),
        countPage = int.Parse(countPage.ToString()),
        generateUrl = (int? p) => Url.Action(nameof(Index), new { p = p , search = ViewBag.search})
    };
    <div class="float-right">
        <partial name="_Paging" model="@pagemodel"></partial>
    </div>
}
