@page
@model QLKHO.Areas.Admin.Pages.Users.AddRoleModel
@using QLKHO.Areas.Identity.Pages.Account.Manage
@{
    ViewData["Title"] = "Gán vai trò cho người dùng";
    //ViewData["ActivePage"] = ManageNavPages.ChangePassword;
}

<h4>Đặt vai trò cho người dùng: @Model.user.UserName</h4>
<partial name="_StatusMessage" for="StatusMessage" />

<div class="row">
    <div class="col-md-6">
        <form id="set-password-form" method="post" asp-route-userid="@Model.user.Id">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="@Model.RoleNames"></label>
                @Html.ListBoxFor(m => m.RoleNames, Model.allRole, new {
                    id = "id-select-role",
                    @class = "w-100"
                })
                <span asp-validation-for="@Model.RoleNames" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">Cập nhật</button>
        </form>
        <a asp-page="./Index">Danh sách các thành viên</a>
    </div>
</div>

@section Scripts {
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/multiple-select@1.5.2/dist/multiple-select.min.css">
    <script src="https://cdn.jsdelivr.net/npm/multiple-select@1.5.2/dist/multiple-select.min.js"></script>
    <script>
        $("#id-select-role").multipleSelect({
            selectAll: false,
            keepOpen: false,
            isOpen: false
        });
    </script>
    <partial name="_ValidationScriptsPartial" />
}